.imagen-principal{
    width: 100%;
    position: absolute;
}

.card{
    float: right;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
    color:white;
    background-color: #00943e;
}

@media (min-width: 1240px) {
    .card{
        width: 369px;
        right: 100px;
        top: 100px;
        text-align: center;
        height: 280px;
    }

    .button > button{
        height: 36px ;
        width: 166px ;
        font-size: 18px;
    }
}

@media (max-width: 1239px) {
    .card{
        width: 369px;
        right: 100px;
        top: 100px;
        text-align: center;
        height: 280px;
    }

    .button > button{
        height: 36px ;
        width: 166px ;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .card{
        width: 300px;
    }   
}

@media (max-width: 908px) {
    .card{
        width: 267px;
    }
    .mat-card-header .mat-card-title {
        font-size: 18px;
    }   
    .mat-card-content, .mat-card-subtitle {
        font-size: 13px;
    }
    .form-field{
        font-size: 17px;
    }
    .button > button{
        font-size: 17px;
    }
}


@media (max-width: 828px) {
    .card{
        height: 250px;
        width: 250px;
    }   
}

@media (max-width: 758px) {
    .card{
        right: 113px;
        top: 270px;
        height: 250px;
        width: 428px;
    }   
}

@media (max-width: 706px) {
    .card{
        height: 211px;
        width: 450px;
        right: 95px;
    }   
}
@media (max-width: 638px) {
    .card{
        right: 96px;
        right: 79px;
    }   
   
    .button > button{
        font-size: 16px;
    }
}

@media (max-width: 548px) {
    .card{
        right: 62px;
        width: 407px;
        top: 196px;
    }   
    .form-field{
        width: 300px;
    }
    .button > button{
        width: 215px;
    }
}
@media (max-width: 505px) {
    .card{
        right: 33px;
    }
}
@media (max-width: 480px) {
    .card{
        right: 56px;
        top: 168px;
        width: 340px;
    }   
}

@media (max-width: 420px) {
    .card{
        right: 51px;
        width: 295px;
        top: 157px;
        height: 220px;
    }   
    
    .button > button{
        font-size: 15px;
        width: 155px;
    }
}

@media (max-width: 390px) {
    .card{
        width: 288px;
        top: 155px;
        right: 38px;
    }
}

@media (max-width: 363px) {
    .card{
        width: 264px;
        top: 155px;
        right: 32px;
        height: 238px;
    }

    .form-field{      
        width: 255px;
    }
}
@media (max-width: 344px) {
    .card{
        right: 29px;
    }
}
@media (max-width: 320px) {
    .card{
        width: 230px;
        top: 118px;
        height: 193px;
        height: 260px;
    }
    .form-field{
        width: 221px;
    }
    .button > button{
        height: 34px !important;
        width: 155px !important;
        font-size: 14px;
    }
}
@media (max-width: 294px) {
    .card{
        right: 17px;
    }
}

@media (max-width: 280px) {
    .card{
        right: 11px;
    }
}